* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

h1,
button {
    font-family: sans-serif;
}

h1 {
    font-size: min(10vw, 70px);
}

body {
    background-color: rgb(7, 78, 78);
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 640px;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    max-height: max-content;
}

.content {
    max-width: 100%;
    margin: 0 20px;
    padding-bottom: 15px;
}

.content h1 {
    padding: 15px 0;
}

table {
    width: 100%;
}

button {
    background-color: lightgray;
    color: black;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 4vw 1.5vw;
    font-size: min(6vw, 40px);
}

button:hover {
    background-color: rgb(143, 142, 142);
}

input {
    width: 100%;
    padding: 2vw 0.8vw;
    font-size: min(8vw, 40px);
    text-align: right;
    margin-bottom: 10px;
}

.calculadora {
    width: 100%;
    height: 100px;
}